<div class="position-relative h-100-v">
  <div class="container-fluid position-absolute block-vertical-center">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-7 mx-auto">
        <div class="border pb-5" style="padding: 0 20%;">
          <div class="text-center">
            <img src="/assets/logo.png" alt="Logo" class="img-fluid my-5">
          </div>

          <h1 class="h5 text-center">{{'other.employee.password.welcome' | translate}}</h1>
          <p class="text-center mb-5">{{'other.employee.password.description' | translate}}</p>

          <div class="form-group">
            <input type="password" class="form-control rounded-0 text-center" placeholder="{{'other.employee.password.password' | translate}}" [(ngModel)]="password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control rounded-0 text-center" placeholder="{{'other.employee.password.confirm_password' | translate}}" [(ngModel)]="repeatPassword">
          </div>

          <div class="mt-5" style="height: 24px;">
            <button class="btn btn-success right px-5 rounded-0" (click)="confirmPassword()">{{'other.employee.password.next' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
