.left {
  float: left;
  margin-right: 5px;
}
.right {
  float: right;
  margin-left: 5px;
}
.bootstrap-select > .dropdown-toggle {
  background: transparent;
  border: 1px solid #ced4da;
}
.dropdown-item.active {
  background-color: #ced4da;
  color: #212529;
}
th {
  font-weight: 400;
  color: gray;
}
