<div class="container-fluid pb-5 unwork">
  <div class="row">
    <div class="col-auto">
      <b>General</b>
    </div>
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-auto" style="width: 160px;"></div>

    <div class="col">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group row">
            <label for="navigationBarView" class="col-6 col-form-label text-right">Navigation bar view</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="navigationBarView">
                <option selected>Icon</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="phontSize" class="col-6 col-form-label text-right">Phont size</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="phontSize">
                <option selected>Small</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group row">
            <label for="timeZone" class="col-6 col-form-label text-right">Time Zone</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="timeZone">
                <option selected>GMT +3</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="distanceFormat" class="col-6 col-form-label text-right">Distance format</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="distanceFormat">
                <option selected>Kilometers</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group row">
            <label for="dateFormat" class="col-6 col-form-label text-right">Date format</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="dateFormat">
                <option selected>DD/MM/YY</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="timeFormat" class="col-6 col-form-label text-right">Time format</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="timeFormat">
                <option selected>24:00:00</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <b>Online ordering</b>
    </div>
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-auto" style="width: 160px;"></div>

    <div class="col">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group row">
            <label for="bookingTimeDuration" class="col-6 col-form-label text-right">Booking time duration</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="bookingTimeDuration">
                <option selected>30 mins</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="appearanceRadius" class="col-6 col-form-label text-right">Appearance radius</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="appearanceRadius">
                <option selected>Unlimited</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group row">
            <label for="warrantyAlert" class="col-6 col-form-label text-right">Warranty alert</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="warrantyAlert">
                <option selected>3 months</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="regularServiceAlert" class="col-6 col-form-label text-right">Regular service alert</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="regularServiceAlert">
                <option selected>5 days</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group row">
            <label for="ordersRejection" class="col-6 col-form-label text-right">Orders rejection</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="ordersRejection">
                <option selected>Yes</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="requestsTTL" class="col-6 col-form-label text-right">Requests TTL</label>
            <div class="col-6">
              <select class="form-control" size="1" required id="requestsTTL">
                <option selected>10 mins</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-12 col-md-4">
              Booked time background color
              <img class="ml-3" src="/assets/settings_booked_time_backgroud_color.png"
                   alt="Booked time background color">
            </div>
            <div class="col-12 col-md-4 text-center">
              <a href="" style="text-decoration: underline;">Manage forecast calculation rules</a>
            </div>
            <div class="col-12 col-md-4 text-center">
              <a href="" style="text-decoration: underline;">Manage production calendar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <b>Notifications</b>
    </div>

    <div class="col">
      <hr>
    </div>
  </div>

  <div class="mb-4">
    <button class="btn btn-outline-secondary py-1 mr-4"><i class="material-icons left">add</i>Добавить</button>
    <button class="btn btn-outline-secondary py-1"><i class="material-icons left">close</i>Удалить</button>
  </div>

  <table>
    <thead>
    <tr>
      <th scope="col" style="min-width: 140px;">Столбец</th>
      <th scope="col" style="min-width: 100px;">Условия</th>
      <th scope="col" style="min-width: 160px;">Данные</th>
      <th scope="col" class="text-center" style="min-width: 240px;">Сообщить</th>
      <th scope="col" class="text-center" style="min-width: 240px;">Выделить на экране</th>
    </tr>
    </thead>
    <tbody id="rowsContainer">
    <tr>
      <td>
        <select class="form-control" size="1" required>
          <option selected>Гарантия</option>
        </select>
      </td>
      <td>
        <select class="form-control" size="1" required>
          <option selected>Равно</option>
        </select>
      </td>
      <td>
        <input type="text" class="form-control" value="Автомобиль на гарантии">
      </td>
      <td class="text-center">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="notificationCheckbox1">
          <label class="form-check-label" for="notificationCheckbox1">На e-mail</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="notificationCheckbox2">
          <label class="form-check-label" for="notificationCheckbox2">По СМС</label>
        </div>
      </td>
      <td class="text-center">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="backgroundCheckbox1">
          <label class="form-check-label" for="backgroundCheckbox1">
            Рамка
            <img src="/assets/settings_booked_time_backgroud_color.png">
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="backgroundCheckbox2">
          <label class="form-check-label" for="backgroundCheckbox2">
            Фон
            <img src="/assets/settings_backgroud_color_icon.png">
          </label>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <div class="d-inline-block right mt-5 pb-5">
      <button class="btn btn-outline-secondary px-5 rounded-0 mr-3">Reset to Default</button>
      <button class="btn btn-outline-secondary px-5 rounded-0 mr-1">Skip</button>
      <button class="btn btn-outline-secondary px-5 rounded-0 ml-1 mr-3">Save</button>
      <button class="btn btn-success px-5 rounded-0" (click)="router.navigateByUrl('registration/8')">Save and Submit</button>
    </div>
  </div>
</div>
