<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12 col-md-4 border p-4">
      <div class="input-group form-group">
        <div class="input-group-prepend col-8 p-0">
          <span class="input-group-text rounded-0 w-100" style="background: transparent;">{{'other.registration.step_8.gleem_count' | translate}}</span>
        </div>
        <input type="text" class="form-control rounded-0 text-center col-4" name="gleemCount1">
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend col-8 p-0">
          <span class="input-group-text rounded-0 w-100" style="background: transparent;">{{'other.registration.step_8.gleem_count' | translate}}</span>
        </div>
        <input type="text" class="form-control rounded-0 text-center col-4" name="gleemCount2">
      </div>

      <div class="form-group mt-5">
        <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_8.address' | translate}}" name="address">
      </div>
      <div class="form-group">
        <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_8.payment_method' | translate}}" name="payType">
      </div>
    </div>

    <div class="col-12 col-md-4 border text-purchase-info py-3">
      <h5>{{'other.registration.step_8.important_notice' | translate}}</h5>
      <p>{{'other.registration.step_8.notice_part_1' | translate}}</p>
      <p>{{'other.registration.step_8.notice_part_2' | translate}}</p>
      <p>{{'other.registration.step_8.notice_part_3' | translate}}</p>
    </div>

    <div class="col-12 col-md-4 border">
      <img class="w-100" alt="" src="/assets/purchase_1.png">
    </div>
  </div>

  <div class="row">
    <div class="d-none d-md-block col-4"></div>

    <div class="col-12 col-md-4 mt-5">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-block btn-outline-secondary rounded-0" onclick="location.href = '/service/notifications'">{{'other.registration.step_8.skip' | translate}}</button>
        </div>
        <div class="col-6">
          <button class="btn btn-block btn-outline-secondary rounded-0">{{'other.registration.step_8.save' | translate}}</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mt-5">
      <button class="btn btn-success rounded-0 px-5" (click)="sendPurchase()">{{'other.registration.step_8.save_and_submit' | translate}}</button>
    </div>
  </div>
</div>
