<div class="container-fluid pb-5">
  <form class="row" [formGroup]="uploadForm">
    <div class="col-12 col-md-4">
      <div class="border text-registration-info h-100 p-2">
        <h5>{{'other.registration.step_1.important_notice' | translate}}</h5>
        <p>{{'other.registration.step_1.notice_part_1' | translate}}</p>
        <p>{{'other.registration.step_1.notice_part_2' | translate}}</p>
        <p>{{'other.registration.step_1.notice_part_3' | translate}}</p>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <div class="row">
        <div class="form-group сol-12 col-md-6">
          <input type="text" class="form-control rounded-0 text-center px-0"
                 placeholder="{{'other.registration.step_1.country' | translate}}" formControlName="country" required
                 [class.is-invalid]="uploadForm.get('country').invalid && uploadForm.get('country').touched">
        </div>
        <div class="form-group сol-12 col-md-6">
          <input type="text" class="form-control rounded-0 text-center px-0"
                 placeholder="{{'other.registration.step_1.email' | translate}}" formControlName="email" required
                 [class.is-invalid]="uploadForm.get('email').invalid && uploadForm.get('email').touched">
        </div>
      </div>
      <div class="row mb-4">
        <div class="form-group сol-12 col-md-6">
          <input type="text" class="form-control rounded-0 text-center px-0"
                 placeholder="{{'other.registration.step_1.full_name' | translate}}" formControlName="name" required
                 [class.is-invalid]="uploadForm.get('name').invalid && uploadForm.get('name').touched">
        </div>
        <div class="form-group сol-12 col-md-6">
          <input type="text" class="form-control rounded-0 text-center w-100"
                 placeholder="{{'other.registration.step_1.phone' | translate}}" id="phone" formControlName="phone" required
                 [class.is-invalid]="uploadForm.get('phone').invalid && uploadForm.get('phone').touched" style="padding-right: 52px;">
        </div>
      </div>
      <div class="row mb-4">
        <div class="form-group сol-12 col-md-6"></div>
        <div class="form-group сol-12 col-md-6">
          <input type="text" class="form-control rounded-0 text-center px-0" placeholder="000-000" formControlName="number" required
                 [class.is-invalid]="uploadForm.get('number').invalid && uploadForm.get('number').touched">
        </div>
      </div>
      <div class="row">
        <div class="form-group сol-12 col-md-6">
          <input type="password" class="form-control rounded-0 text-center px-0"
                 placeholder="{{'other.registration.step_1.password' | translate}}" formControlName="password" required
                 [class.is-invalid]="uploadForm.get('password').invalid && uploadForm.get('password').touched">
        </div>
        <div class="form-group сol-12 col-md-6">
          <input type="password" class="form-control rounded-0 text-center px-0"
                 placeholder="{{'other.registration.step_1.confirm_password' | translate}}" formControlName="repeatPassword" required
                 [class.is-invalid]="uploadForm.get('repeatPassword').invalid && uploadForm.get('repeatPassword').touched">
        </div>
      </div>

      <div class="mt-3">
        <label class="form-group form-check pl-5 mt-2 d-inline-block">
          <input type="checkbox" class="form-check-input ml-5 checkbox-container d-none" id="agree" formControlName="agree" required
                 [class.is-invalid]="uploadForm.get('agree').invalid && uploadForm.get('agree').touched">
          <span class="checkmark"></span>
          <label class="form-check-label" for="agree">{{'other.registration.step_1.consent' | translate}}</label>
        </label>

        <input type="submit" class="d-none">
        <button type="button" class="btn btn-success rounded-0 px-5 right" (click)="makeSubmit()">
          {{'other.registration.step_1.submit' | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
