.h-100-v {
  height: 100vh;
}
.block-vertical-center {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.left {
  float: left;
  margin-right: 5px;
}
.right {
  float: right;
  margin-left: 5px;
}
.to-sing-up {
  font-weight: 300;
  font-family: Roboto, sans-serif;
  color: black;
}
.to-sing-up:hover {
  color: black;
}
.remind-password {
  font-size: 11px;
  font-family: Roboto, sans-serif;
  color: gray;
  text-decoration: underline;
}
.remind-password:hover {
  color: gray;
}
