button {
  outline: none;
}

.body {
  padding: 15px 30px 0;
}
.first-col {
  width: 795px;
  margin-right: 15px;
  padding-right: 0;
  padding-bottom: 30px;
}
.mat-header-row {
  height: 46px!important;
  border-bottom: 1px dashed #EBEFF2;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #AAAAAA;
  width: 100%;
}
.mat-row {
  height: 36px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  width: 100%;
  position: relative;
}
.mat-row:not(:last-child)::after {
  content: '';
  border-bottom: 1px solid #EBEFF2;
  width: calc(100% - 60px - 16px);
  position: absolute;
  left: 46px;
  height: 36px;
}
.mat-row:first-child::after, .gray-tr::after {
  height: 46px!important;
}
th {
  border-bottom-width: 1px;
  border-bottom-style: dashed!important;
}
td {
  border-bottom-width: 0;
  border-bottom-color: transparent;
}
tr:first-child, tr:last-child {
  height: 46px;
}
.first-col tr:first-child td {
  padding-top: 10px;
}
tr:last-child td {
  padding-bottom: 10px;
}
td:first-child, th:first-child {
  padding-left: 30px;
}
td:last-child, th:last-child {
  padding-right: 30px;
}
.second-col {
  width: 400px;
  padding-bottom: 30px;
  padding-top: 31px;
}
.second-col th {
  line-height: 16px;
}
.table-more {
  cursor: pointer;
}
tr.gray-tr {
  height: 46px;
}
.gray-tr td {
  background: rgba(170, 170, 170, 0.3);
}
.rotate-icon {
  transform: rotate(180deg);
}

.miles-months-container {
  position: relative;
  height: 21px;
  margin-bottom: 9px;
}
.mm-hint {
  position: absolute;
  top: 4px;
  right: 168px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  color: #6A707E;
}
.mm-switch-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 21px;
  width: 148px;
  border-radius: 6px;
  background: #AAAAAA;
}
.mm-switch-button {
  width: 78px;
  background: #FFFFFF;
  border: 0.1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  height: 100%;
  display: block;

  transition: margin-left .3s;
}
.mm-variant {
  position: absolute;
  top: 0;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  width: 74px;
  height: 100%;
  cursor: pointer;

  transition: color .15s;
}

.miliage-line {
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;
}
.miliage-current {
  position: absolute;
  top: 0;
  left: 0;
  background: #6BA30F;
  opacity: 0.3;
  height: 100%;
}
.max-value-line {
  position: absolute;
  top: 0;
  background: #FF0000;
  height: 100%;
  width: 1px
}
.period-value {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(100% / 9);
  line-height: 30px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  align-items: center;
  text-align: center;
  color: #000000;
}
.period-value:after {
  content: '';
  display: block;
  position: absolute;
  background: #AAAAAA;
  width: 3px;
  height: 5px;
  bottom: 0;
  left: calc(50% - 1.5px);
}
.vehilce-status-container {
  width: 100%;
  height: 100px;
  position: relative;
  margin-bottom: 15px;
}
.vehilce-status {
  position: absolute;
  top: 21px;
  left: 30px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.vehilce-last-update {
  position: absolute;
  bottom: 27px;
  left: 30px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #AAAAAA;
}
.ping-container {
  position: absolute;
  top: 0;
  left: 256px;
  width: 114px;
  height: 100%;
}
.ping-level-icon {
  position: absolute;
  top: 24px;
  left: 0;
  width: 26px;
  height: 16px;
}
.ping-level-text {
  display: block;
  position: absolute;
  top: 21px;
  right: 0;
  border: 1px solid #6BA30F;
  box-sizing: border-box;
  border-radius: 6px;
  width: 70px;
  height: 21px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #6BA30F;
}
.ping-status {
  position: absolute;
  bottom: 25px;
  left: 0;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: #000000;
}
.car-params-container {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
}
.car-params-circle {
  position: absolute;
  top: 20px;
  left: 0;
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
}
.sector {
  fill: none;
  stroke-width: 50;
}
.car-params-value {
  position: absolute;
  bottom: 21px;
  left: 0;
  width: 100%;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #aaaaaa;
}
.car-params-icon {
  position: absolute;
  top: 26px;
  line-height: 0;
  left: 6px;
  width: 28px;
  height: 28px;
  background: white;
  padding: 7px;
  border-radius: 50%;
}
.load-more {
  width: 98px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #AAAAAA;
  padding: 0;
  display: block;
  margin: 10px auto auto;
}
