<div class="container-fluid">
  <form>
    <div class="custom-control custom-radio">
      <input type="radio" id="isFreeYes" name="isFree" class="custom-control-input">
      <label class="custom-control-label" for="isFreeYes">{{'other.registration.step_5.service_free' | translate}}</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="isFreeNo" name="isFree" class="custom-control-input">
      <label class="custom-control-label" for="isFreeNo">{{'other.registration.step_5.service_not_free' | translate}}</label>
    </div>

    <div class="row mt-5">
      <div class="col-auto">
        <p>{{'other.registration.step_5.payment_details' | translate}}</p>
      </div>
      <div class="col">
        <hr>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.sc_name' | translate}}">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.bic' | translate}}">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.payment_details' | translate}}">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-auto" style="min-width: 197px;">
        <p>{{'other.registration.step_5.agency_contract' | translate}}</p>
      </div>
      <div class="col">
        <hr>
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.signatory' | translate}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.position' | translate}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.authority' | translate}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.document_number' | translate}}">
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.mailing_address' | translate}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.full_name' | translate}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.phone' | translate}}">
            </div>
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.email' | translate}}">
            </div>
          </div>
          <div class="col-12 col-md-4 pb-3">
            <div class="form-group">
              <input type="text" class="form-control rounded-0 text-center" placeholder="{{'other.registration.step_5.agreement' | translate}}">
            </div>

            <a href="" class="d-block my-3 text-center">№RU-002-0056-AA01.pdf</a>

            <div class="border mt-4 text-center" style="height: 98px; line-height: 98px;">{{'other.registration.step_5.download_contact' | translate}}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-inline-block right mt-5 pb-5">
      <button type="button" class="btn btn-outline-secondary rounded-0 px-5">{{'other.registration.step_5.save' | translate}}</button>
      <button type="button" class="btn btn-success rounded-0 px-5" (click)="router.navigateByUrl('registration/6')">
        {{'other.registration.step_5.save_and_submit' | translate}}
      </button>
    </div>
  </form>
</div>
