<table class="registration-top-bar w-100 mb-5">
  <tr>
    <td [class.active]="step === 1">
      <p>{{'other.registration.top_bar.step' | translate}}
        1.<span class="d-none d-xxl-inline-block"> {{'other.registration.top_bar.step_1' | translate}}</span></p>
    </td>
    <td [class.active]="step === 2">
      <p>{{'other.registration.top_bar.step' | translate}}
        2.<span class="d-none d-xxl-inline-block"> {{'other.registration.top_bar.step_2' | translate}}</span></p>
    </td>
    <td [class.active]="step === 3">
      <p>{{'other.registration.top_bar.step' | translate}}
        3.<span class="d-none d-xxl-inline-block"> {{'other.registration.top_bar.step_3' | translate}}</span></p>
    </td>
    <td [class.active]="step === 4">
      <p>{{'other.registration.top_bar.step' | translate}}
        4.<span class="d-none d-xxl-inline-block"> {{'other.registration.top_bar.step_4' | translate}}</span></p>
    </td>
    <td [class.active]="step === 5">
      <p>{{'other.registration.top_bar.step' | translate}}
        5.<span class="d-none d-xxl-inline-block"> {{'other.registration.top_bar.step_5' | translate}}</span></p>
    </td>
    <td [class.active]="step === 6">
      <p>{{'other.registration.top_bar.step' | translate}}
        6.<span class="d-none d-xxl-inline-block"> {{'other.registration.top_bar.step_6' | translate}}</span></p>
    </td>
    <td [class.active]="step === 7">
      <p>{{'other.registration.top_bar.step' | translate}}
        7.<span class="d-none d-xxl-inline-block"> {{'other.registration.top_bar.step_7' | translate}}</span></p>
    </td>
    <td [class.active]="step === 8">
      <p>{{'other.registration.top_bar.step' | translate}}
        8.<span class="d-none d-xxl-inline-block"> {{'other.registration.top_bar.step_8' | translate}}</span></p>
    </td>
  </tr>
</table>
