<table class="registration-top-bar w-100 mb-5">
  <tr>
    <td [class.active]="step === 1">
      <p>Step 1.<span class="d-none d-xxl-inline-block"> Admin registration</span></p>
    </td>
    <td [class.active]="step === 2">
      <p>Step 2.<span class="d-none d-xxl-inline-block"> SC registration</span></p>
    </td>
    <td [class.active]="step === 3">
      <p>Step 3.<span class="d-none d-xxl-inline-block"> Activate NVCD-R</span></p>
    </td>
    <td [class.active]="step === 4">
      <p>Step 4.<span class="d-none d-xxl-inline-block"> Create service list</span></p>
    </td>
    <td [class.active]="step === 5">
      <p>Step 5.<span class="d-none d-xxl-inline-block"> Billing data</span></p>
    </td>
    <td [class.active]="step === 6">
      <p>Step 6.<span class="d-none d-xxl-inline-block"> Employees and access</span></p>
    </td>
    <td [class.active]="step === 7">
      <p>Step 7.<span class="d-none d-xxl-inline-block"> System settings</span></p>
    </td>
    <td [class.active]="step === 8">
      <p>Step 8.<span class="d-none d-xxl-inline-block"> Gleem 4G purchase order</span></p>
    </td>
  </tr>
</table>
