<div class="fake-title-container"></div>
<div class="title-container">
  <h1 class="title">{{ 'service.notification.title' | translate }}</h1>
</div>

<div class="row card-row" style="padding: 22px 32px 22px 32px; margin: 0;" *ngIf="devicesData">
  <div class="col-auto custom-card" *ngIf="devicesData.data" [class.active-card]="activeFilters.isRS" (click)="activeFilters.isRS = !activeFilters.isRS" matRipple>
    <h3 class="card-title">{{ 'service.notification.regular_service' | translate }}</h3>

    <div class="row" style="margin: 0;">
      <div class="col-6 p-0 pr-2" style="text-align: center;">
        <span class="card-number">{{devicesData.data.length}}</span>
      </div>
      <div class="col-3 card-data-col" style="text-align: center;">
        <span class="card-data-number red-text">{{getWarrantyCount(0) + getWarrantyCount(1)}}</span>
        <br>
        <img src="/assets/notifications/shell_full.svg" alt="">
      </div>
      <div class="col-3 card-data-col" style="text-align: center;">
        <span class="card-data-number blue-text">{{getWarrantyCount(2)}}</span>
        <br>
        <img src="/assets/notifications/shell_border.svg" alt="">
      </div>
    </div>

    <div class="card-bottom">
      <img src="/assets/notifications/arrow_more.svg" class="card-bottom-arrow" alt="">
      <span class="card-bottom-time">{{ 'service.notification.7_days' | translate }}</span>
    </div>
  </div>

  <div class="col-auto custom-card" *ngIf="allDataCounts" [class.active-card]="activeFilters.onlineService"
       (click)="activeFilters.onlineService = !activeFilters.onlineService" matRipple>
    <h3 class="card-title">{{ 'service.notification.booked' | translate }}</h3>

    <div class="row" style="margin: 0;">
      <div class="col-6 p-0" style="text-align: center;">
        <span class="card-number">{{findDataCount('orders', 9).count}}</span>
      </div>
      <div class="col-3 card-data-col" style="text-align: center;">
        <span class="card-data-number green-text">{{findDataCount('orders', 9).count}}</span>
        <br>
        <img src="/assets/notifications/planet.png" alt="">
      </div>
      <div class="col-3 card-data-col" style="text-align: center;">
        <span class="card-data-number brown-text">{{0}}</span>
        <br>
        <img src="/assets/notifications/table.png" alt="">
      </div>
    </div>

    <div class="card-bottom">
      <img src="/assets/notifications/arrow_more.svg" class="card-bottom-arrow" alt="">
<!--      <span class="card-bottom-time">2 days</span>-->
    </div>
  </div>

  <div class="col-auto custom-card" [class.active-card]="activeFilters.isWE" (click)="activeFilters.isWE = !activeFilters.isWE" matRipple>
    <h3 class="card-title">{{ 'service.notification.expiration' | translate }}</h3>

    <div class="row" style="margin: 0;">
      <div class="col-12 p-0" style="text-align: center;">
        <span class="card-number">{{getWarrantyCount(1)}}</span>
      </div>
    </div>

    <div class="card-bottom">
      <img src="/assets/notifications/arrow_more.svg" class="card-bottom-arrow" alt="" (click)="clearFilters('WE')">
<!--      <span class="card-bottom-time">30 days</span>-->
    </div>
  </div>

  <div class="col-auto custom-card" [class.active-card]="activeFilters.isUE" (click)="activeFilters.isUE = !activeFilters.isUE" matRipple>
    <h3 class="card-title">{{ 'service.notification.erros' | translate }}</h3>

    <div class="row" style="margin: 0;">
      <div class="col-12 p-0" style="text-align: center;">
        <span class="card-number">{{getErrorsCount()}}</span>
      </div>
    </div>

    <div class="card-bottom">
      <img src="/assets/notifications/arrow_more.svg" class="card-bottom-arrow" alt="" (click)="clearFilters('UE')">
    </div>
  </div>

  <div class="col-auto custom-card" [class.active-card]="activeFilters.isTP" (click)="activeFilters.isTP = !activeFilters.isTP" matRipple>
    <h3 class="card-title">Tyre pressure</h3>

    <div class="row" style="margin: 0;">
      <div class="col-12 p-0" style="text-align: center;">
        <span class="card-number">{{countErrors(false, getConfig('TP', 'max'), 'TP')}}</span>
      </div>
    </div>

    <div class="card-bottom">
      <img src="/assets/notifications/arrow_more.svg" class="card-bottom-arrow" alt="" (click)="clearFilters('TP')">
    </div>
  </div>

  <div class="col-auto custom-card" [class.active-card]="activeFilters.isCL" (click)="activeFilters.isCL = !activeFilters.isCL" matRipple>
    <h3 class="card-title">Colling liquid</h3>

    <div class="row" style="margin: 0;">
      <div class="col-12 p-0" style="text-align: center;">
        <span class="card-number">{{countErrors(false, getConfig('CL', 'max'), 'CL')}}</span>
      </div>
    </div>

    <div class="card-bottom">
      <img src="/assets/notifications/arrow_more.svg" class="card-bottom-arrow" alt="" (click)="clearFilters('CL')">
    </div>
  </div>

  <div class="col-auto custom-card" [class.active-card]="activeFilters.isOL" (click)="activeFilters.isOL = !activeFilters.isOL" matRipple>
    <h3 class="card-title">Oil level</h3>

    <div class="row" style="margin: 0;">
      <div class="col-12 p-0" style="text-align: center;">
        <span class="card-number">{{countErrors(false, getConfig('OL', 'max'), 'OL')}}</span>
      </div>
    </div>

    <div class="card-bottom">
      <img src="/assets/notifications/arrow_more.svg" class="card-bottom-arrow" alt="" (click)="clearFilters('OL')">
    </div>
  </div>

  <div class="col-auto custom-card" [class.active-card]="activeFilters.isFL" (click)="activeFilters.isFL = !activeFilters.isFL" matRipple>
    <h3 class="card-title">Fuel level</h3>

    <div class="row" style="margin: 0;">
      <div class="col-12 p-0" style="text-align: center;">
        <span class="card-number">{{countErrors(false, getConfig('FL', 'max'), 'FL')}}</span>
      </div>
    </div>

    <div class="card-bottom">
      <img src="/assets/notifications/arrow_more.svg" class="card-bottom-arrow" alt="" (click)="clearFilters('FL')">
    </div>
  </div>

  <div class="col-auto custom-card" [class.active-card]="activeFilters.isBV" (click)="activeFilters.isBV = !activeFilters.isBV" matRipple>
    <h3 class="card-title">Battary voltage</h3>

    <div class="row" style="margin: 0;">
      <div class="col-12 p-0" style="text-align: center;">
        <span class="card-number">{{countErrors(true, getConfig('BV', 'min'), 'BV')}}</span>
      </div>
    </div>

    <div class="card-bottom">
      <img src="/assets/notifications/arrow_more.svg" class="card-bottom-arrow" alt="" (click)="clearFilters('BV')">
    </div>
  </div>

<!--  <div class="col-auto p-1">-->
<!--    <img src="/assets/settings.png" alt="" [matMenuTriggerFor]="topCardsMore">-->

<!--    <mat-menu #topCardsMore="matMenu">-->
<!--      <button mat-menu-item>Show infotiles</button>-->
<!--      <button mat-menu-item>Hide infotiles</button>-->
<!--      <button mat-menu-item>Edit infotiles</button>-->
<!--    </mat-menu>-->
<!--  </div>-->
</div>

<div style="padding: 10px 32px 2px 32px;" class="container-fluid">
  <div class="row">
    <!--  <button mat-button [matMenuTriggerFor]="viewMenu">-->
    <!--    View-->
    <!--    <mat-icon>-->
    <!--      <img src="/assets/notifications/arrow_more.svg" alt="">-->
    <!--    </mat-icon>-->

    <!--    <mat-menu #viewMenu="matMenu" class="rounded-0">-->
    <!--      <button mat-menu-item>About this record</button>-->
    <!--      <button mat-menu-item [matMenuTriggerFor]="columns">Columns</button>-->
    <!--    </mat-menu>-->

    <!--    <mat-menu #columns="matMenu" class="rounded-0">-->

    <!--    </mat-menu>-->
    <!--  </button>-->
    <div class="pr-0 col-auto">
      <button class="pr-4" mat-button [matMenuTriggerFor]="actionMenu">
        Action
        <mat-icon style="position: absolute; top: 8px;">
          <img src="/assets/notifications/arrow_more.svg" alt="">
        </mat-icon>

        <mat-menu #actionMenu="matMenu" class="rounded-0">
          <button mat-menu-item (click)="dismiss()">Dismiss</button>
          <button disabled mat-menu-item>Book online service</button>
          <button disabled mat-menu-item>Book offline maintanance</button>
          <button disabled mat-menu-item [matMenuTriggerFor]="sendPushNotification">Send push notification</button>
          <button disabled mat-menu-item [matMenuTriggerFor]="sendMessage">Send message</button>
          <button disabled mat-menu-item>Start VoIP call</button>
        </mat-menu>

        <mat-menu #sendPushNotification="matMenu" class="rounded-0">

        </mat-menu>

        <mat-menu #sendMessage="matMenu" class="rounded-0">

        </mat-menu>
      </button>
    </div>

    <div class="px-0 col-auto" style="padding-top: 4px;">
      <mat-form-field class="table-search row ml-4 pl-2">
        <mat-icon style="position: absolute; margin-top: -18px; color: #DDDDDD; bottom: 2px;">search</mat-icon>
        <input matInput class="border-0 outline-0 pl-4" type="text" (keyup)="devicesData.filter = $event.target.value.trim().toLowerCase()">
      </mat-form-field>
    </div>
  </div>
</div>

<div style="padding: 22px 32px 22px 32px;">
  <table mat-table [dataSource]="devicesData" class="w-100 custom-card">
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef class="pl-0 pt-1 text-center" style="width: 40px;">
        <div class="checkbox-count" [class.active]="activeDevices.length > 0" (click)="checkAll()">{{activeDevices.length}}</div>
      </th>
      <td mat-cell *matCellDef="let element" class="pl-0 pt-2 text-center" style="width: 40px;">
        <mat-checkbox class="m-1" (change)="onChangeCheckbox($event, element.id)"
                      [ngModel]="activeDevices.indexOf(element.id) !== -1"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef>Make</th>
      <td mat-cell *matCellDef="let element" class="text-left">{{element.make}}</td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let element" class="text-left" style="color: #0054B9;">{{element.model}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element" class="text-left">{{element.type}}</td>
    </ng-container>

    <ng-container matColumnDef="modification">
      <th mat-header-cell *matHeaderCellDef>Modification</th>
      <td mat-cell *matCellDef="let element" class="text-left">{{element.modification}}</td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let element" class="text-left">{{element.fullYear}}</td>
    </ng-container>

    <ng-container matColumnDef="millage">
      <th mat-header-cell *matHeaderCellDef>Millage</th>
      <td mat-cell *matCellDef="let element" class="text-left">{{element.miliageString}}</td>
    </ng-container>

    <ng-container matColumnDef="RS">
      <th class="gray-table-cell text-center" mat-header-cell *matHeaderCellDef [class.d-none]="activeFilters.isRS">RS</th>
      <td class="gray-table-cell" mat-cell *matCellDef="let element" [class.d-none]="activeFilters.isRS">
        <img src="/assets/notifications/service_alert.svg" alt="" *ngIf="getIsWarrantyError(element) === 2 &&
            dismissNotifications.devices.indexOf(element.id) < 0">
      </td>
    </ng-container>

    <ng-container matColumnDef="WE">
      <th mat-header-cell *matHeaderCellDef class="text-center" [class.d-none]="activeFilters.isWE">WE</th>
      <td mat-cell *matCellDef="let element" [class.d-none]="activeFilters.isWE">
        <img src="/assets/notifications/service_alert.svg" alt="" *ngIf="getIsWarrantyError(element) === 1 &&
            dismissNotifications.devices.indexOf(element.id) < 0">
      </td>
    </ng-container>

    <ng-container matColumnDef="UE">
      <th class="gray-table-cell text-center" mat-header-cell *matHeaderCellDef [class.d-none]="activeFilters.isUE">UE</th>
      <td class="gray-table-cell" mat-cell *matCellDef="let element" [class.d-none]="activeFilters.isUE">
        <img src="/assets/notifications/service_alert.svg" alt="" *ngIf="getIsError(element.data) &&
            dismissNotifications.devices.indexOf(element.id) < 0">
      </td>
    </ng-container>

    <ng-container matColumnDef="TP">
      <th mat-header-cell *matHeaderCellDef class="text-center" [class.d-none]="activeFilters.isTP">TP</th>
      <td mat-cell *matCellDef="let element" [class.d-none]="activeFilters.isTP">
        <img src="/assets/notifications/service_alert.svg" alt="" *ngIf="element.data.TP > getConfig('TP', 'max') &&
            dismissNotifications.devices.indexOf(element.id) < 0">
      </td>
    </ng-container>

    <ng-container matColumnDef="CL">
      <th class="gray-table-cell text-center" mat-header-cell *matHeaderCellDef [class.d-none]="activeFilters.isCL">CL</th>
      <td class="gray-table-cell" mat-cell *matCellDef="let element" [class.d-none]="activeFilters.isCL">
        <img src="/assets/notifications/service_alert.svg" alt="" *ngIf="element.data.CL > getConfig('CL', 'max') &&
            dismissNotifications.devices.indexOf(element.id) < 0">
      </td>
    </ng-container>
    <ng-container matColumnDef="OL">
      <th mat-header-cell *matHeaderCellDef class="text-center" [class.d-none]="activeFilters.isOL">OL</th>
      <td mat-cell *matCellDef="let element" [class.d-none]="activeFilters.isOL">
        <img src="/assets/notifications/service_alert.svg" alt="" *ngIf="element.data.OL > getConfig('OL', 'max') &&
            dismissNotifications.devices.indexOf(element.id) < 0">
      </td>
    </ng-container>

    <ng-container matColumnDef="FL">
      <th class="gray-table-cell text-center" mat-header-cell *matHeaderCellDef [class.d-none]="activeFilters.isFL">FL</th>
      <td class="gray-table-cell" mat-cell *matCellDef="let element" [class.d-none]="activeFilters.isFL">
        <img src="/assets/notifications/service_alert.svg" alt="" *ngIf="element.data.FL > getConfig('FL', 'max') &&
            dismissNotifications.devices.indexOf(element.id) < 0">
      </td>
    </ng-container>

    <ng-container matColumnDef="BV">
      <th mat-header-cell *matHeaderCellDef class="text-center" [class.d-none]="activeFilters.isBV">BV</th>
      <td mat-cell *matCellDef="let element" [class.d-none]="activeFilters.isBV">
        <img src="/assets/notifications/service_alert.svg" alt="" *ngIf="element.data.BV < getConfig('BV', 'min') &&
            dismissNotifications.devices.indexOf(element.id) < 0">
      </td>
    </ng-container>

    <ng-container matColumnDef="onlineService">
      <th class="gray-table-cell text-center" mat-header-cell *matHeaderCellDef [class.d-none]="activeFilters.onlineService">
        Online<br/>service
      </th>
      <td class="gray-table-cell" mat-cell *matCellDef="let element" [class.d-none]="activeFilters.onlineService">
        <img src="/assets/notifications/online_service.svg" alt="" *ngIf="element.onlineService">
      </td>
    </ng-container>

<!--    <ng-container matColumnDef="offlineService">-->
<!--      <th class="gray-table-cell text-center" mat-header-cell *matHeaderCellDef>Offline<br/>service</th>-->
<!--      <td class="gray-table-cell" mat-cell *matCellDef="let element"></td>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="dataUpdate">
      <th mat-header-cell *matHeaderCellDef class="pr-0 text-center">Data<br/>update</th>
      <td mat-cell *matCellDef="let element" class="pr-0">
        <img src="/assets/notifications/service_warning.svg" alt="" *ngIf="getIsDataUpdateError(element) &&
            dismissNotifications.devices.indexOf(element.id) < 0">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.row-active]="activeDevices.indexOf(row.id) !== -1"></tr>
<!--    [class.d-none]="activeFilters.isTP && !(row.data.data.TP > getConfig('TP', 'max')) ||-->
<!--    activeFilters.isCL && !(row.data.data.CL > getConfig('CL', 'max')) ||-->
<!--    activeFilters.isOL && !(row.data.data.OL > getConfig('OL', 'max')) ||-->
<!--    activeFilters.isFL && !(row.data.data.FL > getConfig('FL', 'max')) ||-->
<!--    activeFilters.isBV && !(row.data.data.BV < getConfig('BV', 'min'))"-->
  </table>
</div>
