button {
  outline: none;
}
.title {
  color: #AAAAAA;
  white-space: pre;
}
.title span {
  margin: 0 20px;
}
.title-container {
  border-bottom: 1px solid #EBEFF2;
}
.buttons-panel {
  height: 104px;
  background: white;
  position: relative;
  border-bottom: 1px solid #EBEFF2;
}
.top-left-buttons {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 30px;
}
.top-left-buttons .button, .top-right-buttons .button, .bottom-left-buttons .button {
  width: 130px;
  height: 34px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.01em;
}
.top-left-buttons .button {
  margin-right: 10px;
}
.top-left-buttons-divider {
  position: absolute;
  height: 20px;
  width: 1px;
  background: #AAAAAA;
  margin-left: 10px;
  margin-top: 7px;
  display: inline-block;
}
.actions-container {
  position: absolute;
  top: 0;
  left: 600px;
  padding-top: 15px;
}
.actions-container button {
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  min-width: initial;
  border: 0;
}
.actions-container > button {
  margin-left: 20px;
}
.actions-container button img {
  height: 100%;
}
.top-right-buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 29px;
}
.top-right-buttons .button {
  margin-left: 20px;
}
.bottom-left-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 30px;
}
.navigate-active {
  border-bottom: 3px solid #6BA30F;
}
button[disabled] {
  background: #FFFFFF!important;
  border: 1px solid #AAAAAA!important;
  color: #AAAAAA!important;
}
